.image-with-description {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  margin-top: 2.5rem;

  text-align: center;

  & img {
    width: 100%;
    max-height: 660px;

    border-radius: 28px;
  }

  & p {
    font: var(--text-subtitle);
  }
}
